body, html {
	height: 100%;
  }
   
  .parallax-content {
	font-size: 50px;
	color: white;
  }
  
  .vertical-center {
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 100vh; /* These two lines are counted as one :-)       */
  
	display: flex;
	align-items: center;
  }
  
  .navbar-nav > li{
	padding-left:30px;
	padding-right:30px;
  }
  
  .content-container {
	padding: 100px 75px 75px 75px;
  }
  
  .footer {
	 left: 0;
	 bottom: 0;
	 width: 100%;
	 background-color: white;
	 text-align: center;
  }
  
  .footer-top {
	padding: 20px;
  }
  
  
  /* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
  @media only screen and (max-device-width: 1366px) {
	.parallax {
	  background-attachment: scroll;
	}
  }